<template>
  <div class="home">
    <TopNavBar></TopNavBar>
    <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">

              <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                <div class="main-left-sidebar no-margin">
                  <ProfileDashCard></ProfileDashCard>
                </div>
              </div>
               <div class="col-lg-6 col-md-8 no-pd">
                  <CreatePostCard></CreatePostCard>
                  <PostCard></PostCard>
                  <PostCard></PostCard>
                </div>
                <div class="col-lg-3 pd-right-none no-pd">
                  <div class="right-sidebar">
                    <AutoPlay></AutoPlay>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
// @ is an alias to /src
//import PostJobModal from '@/components/PostJobModal.vue';
import SideNavigationBar from '@/components/SideNavigationBar.vue';
import TopNavBar from '@/components/TopNavBar.vue';
import AutoPlay from '@/components/AutoPlay.vue';
import CreatePostCard from '@/components/CreatePostCard.vue';
import PostCard from '@/components/PostCard.vue';
import ProfileDashCard from '@/components/ProfileDashCard.vue';
export default {
  name: 'Home',
  components: {
    TopNavBar,
    ProfileDashCard,
    CreatePostCard,
    PostCard,
    AutoPlay,
    SideNavigationBar,
  }
}
</script>

<style scoped>
  main {
    float: left;
    width: 100%;
    padding: 60px 0;
    background-image: red;
  }

  .main-section {
    float: left;
    margin-top: 30px;
    width: 100%;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-section-data {
    float: left;
    width: 100%;
  }
  .no-margin {
    margin: 0!important;
  }
  .no-margin {
    border-radius: inherit;
  }
  .main-left-sidebar {
    float: left;
    width: 100%;
    margin-top: -20px;
  } 
  .pd-right-none {
    padding-right: 0;
  }
  @media (max-width: 991px){
    .right-sidebar {
        margin-top: 50px;
    }
  }
  .right-sidebar {
      float: left;
      width: 100%;
  }
</style>