<template>
    <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse ">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-9 col-10 ">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="../Images/pjm-icon.png"> </div>
                        <h3 class="login-heading">Sign in</h3>
                        <hr class="DecoLine" style="opacity:none">
                        <form action="">
                            <div class="form-floating mb-3">
                            <input type="text" v-model="user.username" class="form-control" id="floatingInput" placeholder="Username" required>
                            <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating">
                            <input type="password" v-model="user.password" class="form-control" id="floatingPassword" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                            </div><div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" v-on:click="login" >Login</button> </div>
                            <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot Password?</small></a> </div>
                        </form>
                       </div>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">Hello, Friend!</h3> <small class="text-white">Enter your personal details and start journey with us</small>
                    <div class="bottom text-center mb-5">
                    <button v-on:click="signup" class="btn btn-white ml-2">Create new</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import { defineComponent } from '@vue/composition-api';
    import {axios} from 'axios';
    import {Swal} from 'sweetalert2'
    
    export default defineComponent({
        data(){
            return{
                user:{
                    username:"",
                    psssword:""
                }
            }
        },
        methods:{
            login(){
                if(this.checkvalidation()){
                    // axios.get(this.hostname + "/api/user/signin/" +this.user.username+"/" +this.user.password)
                    // .then(response =>{
                    
                    //     if(response.data.userId> 0){
                    //         // localStorage.setItem('token',JSON.stringify(response.data.token));
                    //         // response.data.token="";
                    //         localStrorage.setItem('user',JSON.stringify(response.data));
                    //         this.$router.push({path:'/home'});
                    //     }
                    // })
                    // .catch(error =>{
                    //     if(error.response){
                    //         Swal.fire(error.response.data);
                    //     }
                    // });

                    this.$router.push({path:'/home'});
                } 
            },
            checkvalidation(){
                if(!this.user.username){
                    this.$refs.username.focus();
                    Swal.fire("Provide a Username");
                    return;
                }
                if(!this.user.password){
                    this.$refs.password.focus();
                    Swal.fire("Provide a Password");
                    return;
                }
                return true;
            },
            signup(){
                this.$router.push({path:'/registration'});
            },
        }
        
    })
</script>


<style scoped>
    img#logo{
        width: 160px;
        height: 80px;
    }
    .DecoLine{
        height: 10px;
        width: 150px;
        background: linear-gradient(to right,#69FF97, #00E4FF);
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
    }

    .login-heading{
        font-weight: bolder;

    }
   
    h3.login-heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: -webkit-linear-gradient(#bebebe,#a9a9a9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div.card.card0{
        margin: auto;
        padding: 10px;
    }

    div.container px-4c py-5 mx-auto {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-image: linear-gradient(to right, #69FF97, #00E4FF);
        background-repeat: no-repeat
    }

    input,
    textarea {
      
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00E4FF !important;
        
        transform: scale(1.05);
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

  
    .card {
        border-radius: 0;
        border: none;
        height: 600px;
        width: 850px;
    }

    .card1 {
        width: 50%;
        padding: 1px 1px 1px 1px;
        box-shadow:  0px 10px 40px 0px rgba(0,0,0,0.22);
        border-radius: 3vw 1vw 1vw 3vw;
         
    }

    .card2 {
        width: 50%;
        background-image: linear-gradient(to right, #69FF97, #00E4FF);
       border-radius: 3vw 3vw 3vw 3vw;
        left: -25px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
             
    }

    H3.text-white{
        font-weight: bold;
        margin: 0;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }


    .heading {
        margin-bottom: 60px !important
    }

    ::placeholder {
        color: #000 !important;
        opacity: 1
    }

    :-ms-input-placeholder {
        color: #000 !important
    }

    ::-ms-input-placeholder {
        color: #000 !important
    }

    .form-control-label {
        font-size: 12px;
        margin-left: 15px
    }

    .msg-info {
        padding-left: 15px;
        margin-bottom: 30px
    }

    .btn-color {
        border-radius: 50px;
        color: #fff;
        background-image: linear-gradient(to right, #69FF97, #00E4FF);
        padding: 15px;
        cursor: pointer;
        border: none !important;
        margin-top: 20px;
        height: 23px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 150px;
    }

    .btn-color:hover {
        color: #fff;
        background-image: linear-gradient(to right, #69FF97, #00E4FF)
    }

    .btn-white {
        background-color: transparent;
        background-repeat: no-repeat;
        border: 2px solid white !important;
        cursor: pointer;
        color: white;
        overflow: hidden;
        outline: none;
        border-radius: 50px;
        margin-top: 10px;
        height: 25px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 150px;
    }
  
    .btn-white:hover {
        color: #fff;
        
    }

    button:active {
	    transform: scale(0.90);
    }

    a {
        color: #000
    }

    a:hover {
        color: #000
    }

   

    .sm-text {
        font-size: 15px
    }

    *[data-v-26084dc2], [data-v-26084dc2]::after, [data-v-26084dc2]::before {
    box-sizing: none;
    }
    
    *, ::after, ::before {
        box-sizing: none;
     
    }

    

    @media screen and (max-width: 991.5px) {
        .card {
            border-radius: 0;
            border: none;
            width: 80vw;
        }

        .container {
            padding: 10px !important
        }
        .card1{
            width: 100%;
            padding: 40px 30px 10px 30px;
            height: 70vh;
        }
        
        .card2 {
             width: 100%;
            height: 20vh;
            padding: 50px;
            left: 0px;
        }

        .right {
           margin-top: 100px !important;
            margin-bottom: 100px !important
            /* margin-top: 50px !important;
            margin-bottom: 50px !important */
        }
    }
</style>