<template>
  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="card card1">
          <div class="row justify-content-center my-auto">
            <div class="col-md-10 col-10">
              <div class="row justify-content-center px-3 mb-3">
                <img id="logo" src="../Images/pjm-icon.png" />
              </div>
              <h3 class="login-heading">Sign in</h3>
              <hr class="DecoLine" style="opacity: none" />
              <div class="row">
                <div class="form-floating mb-2 col-md-6">
                  <input
                    v-model="user.name"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    id="floatingInput"
                  />
                  <label for="floatingInput"
                    ><i style="padding: 3px" class="pi pi-user-edit"></i
                    >Name</label
                  >
                </div>

                <div class="form-floating mb-2 col-md-6">
                  <input
                    v-model="user.surname"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=" "
                  />
                  <label for="floatingInput"
                    ><i style="padding: 3px" class="pi pi-user-edit"></i
                    >Surname</label
                  >
                </div>
              </div>

              <div class="row">
                <div class=" mt-2 col-md-6">
                  <input
                    @change="setImage"
                    accept="image/*"
                    type="file"
                    class="form-control"
                    id="customFile"
                  />
                </div>
                <div class="form-floating mb-2 col-md-6">
                  <input
                    v-model="user.phone"
                    type="number"
                    class="form-control"
                    id="floatingPassword"
                    placeholder=" "
                  />
                  <label for="floatingPassword"
                    ><i style="padding: 3px" class="pi pi-phone"></i>Phone
                    Number</label
                  >
                </div>
              </div>
              <div class="form-floating mb-2">
                <input
                  v-model="user.email"
                  type="email"
                  class="form-control"
                  id="floatingPassword"
                  placeholder=" "
                />
                <label style="padding-left: 3px" for="floatingPassword"
                  ><i style="padding-right: 3px" class="pi pi-user"></i
                  >Email</label
                >
              </div>

              <div class="row">
                <div class="form-floating mb-2 col-md-6">
                  <input
                    v-model="user.password"
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder=" "
                  />
                  <label for="floatingPassword"
                    ><i style="padding: 3px" class="pi pi-lock"></i
                    >Password</label
                  >
                </div>
                <div class="form-floating mb-2 col-md-6">
                  <input
                    v-model="passwordCheck.repeatpassword"
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder=" "
                  />
                  <label for="floatingPassword"
                    ><i style="padding: 3px" class="pi pi-lock"></i>Repeat
                    Password</label
                  >
                </div>
              </div>
              <div class="row justify-content-center my-3 px-3">
                <button v-on:click="register" class="btn-block btn-color">
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">Welcome Back!</h3>
            <small class="text-white"
              >To keep connected with us please login with your personal
              info</small
            >
            <div class="bottom text-center mb-5">
              <button v-on:click="signin" class="btn btn-white ml-2">
                Signin
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
import axios from "axios";



export default defineComponent({
  data() {
    return {
      formData:null,
      errorSwal: {
        icon: "error",
        title: "",
        text: "",
      },
      user: {
        name: "",
        surname: "",
        phone: "",
        email: "",
        password: "",
        photoFileName:"",
      },
      passwordCheck: {
        repeatpassword: "",
      },
    };
  },
  methods: {
    setImage:function(event){ 
      this.formData=new FormData();
      this.formData.append('file',event.target.files[0]);
    },
    signin() {
      this.$router.push({ path: "/" });
    },
    register() {
      if (this.checkvalidation()) {
        axios
          .get(
            `https://localhost:44386/api/User/UserExists?email=` +
              this.user.email
          )
          .then((response) => {
            console.log(response.data);
            if (response.data == false) {
              axios.post(
              `https://localhost:44386/api/User/SaveFile`,
              this.formData)
              .then((resp)=>{
                this.user.photoFileName=resp.data;
                console.log(this.user.photoFileName);
                if(this.validatePhoto()){
                     axios
                .post(`https://localhost:44386/api/User/PostUser`, this.user)
                .then((res) => {
                  console.log(res.data);
                  localStorage.setItem("userId", res.data.userId);
                  localStorage.setItem("email", res.data.email);
                  localStorage.setItem("name", res.data.name);
                  localStorage.setItem("phone", res.data.phone);
                  localStorage.setItem("surname", res.data.surname);
                  localStorage.setItem("photoFileName", res.data.photoFileName);
                  this.$router.push({ path: "/home" });
                  return this.$swal({
                    icon: "success",
                    title: "Good Job",
                  });
                })
                .catch((e) => {
                  return this.$swal({
                    icon: this.errorSwal.icon,
                    title: "somthing went wrong",
                  });
                });
                }
                else {
                  return this.$swal({
                    icon: this.errorSwal.icon,
                    title: this.errorSwal.title,
                  });
                }
              }); 
            } else {
              return this.$swal({
                icon: this.errorSwal.icon,
                title: "The user already Registered",
              });
            }
          })
          .catch((e) => {
            return this.$swal({
              icon: this.errorSwal.icon,
              title: "somthing went wrong",
            });
          });
      } else {
        return this.$swal({
          icon: this.errorSwal.icon,
          title: this.errorSwal.title,
        });
      }
    },
    validatePhoto(){
      if (this.user.photoFileName=="anonymous.png") {
        this.errorSwal.title = "Select a Profile Picture";
        return false;
      }
      else{return true}
    },
    checkvalidation() {
      if (!this.user.name) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (!this.user.surname) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (!this.user.phone) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (!this.user.email) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (!this.user.email) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (
        !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.user.email)
      ) {
        this.errorSwal.title = "Enter Valid Email";
        return false;
      } else if (!this.user.password) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (!this.passwordCheck.repeatpassword) {
        this.errorSwal.title = "Fill up all empty feilds";
        return false;
      } else if (this.user.password != this.passwordCheck.repeatpassword) {
        this.errorSwal.title = "Password do not match";
        return false;
      } else {
        return true;
      }
    },
    signup() {
      this.$router.push({ path: "/registration" });
    },
  },
});
</script>


<style scoped>
img#logo {
  width: 160px;
  height: 80px;
}
.DecoLine {
  height: 10px;
  width: 150px;
  background: linear-gradient(to right, #69ff97, #00e4ff);
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.login-heading {
  font-weight: bolder;
}

h3.login-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(#bebebe, #a9a9a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.card.card0 {
  margin: auto;
  padding: 10px;
}

div.container px-4c py-5 mx-auto {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(to right, #69ff97, #00e4ff);
  background-repeat: no-repeat;
}

input,
textarea {
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00e4ff !important;

  transform: scale(1.05);
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.card {
  border-radius: 0;
  border: none;
  height: 600px;
  width: 850px;
}

.card1 {
  width: 50%;
  padding: 1px 1px 1px 1px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.22);
  border-radius: 3vw 1vw 1vw 3vw;
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #69ff97, #00e4ff);
  border-radius: 3vw 3vw 3vw 3vw;
  left: -25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

H3.text-white {
  font-weight: bold;
  margin: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.heading {
  margin-bottom: 60px !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000 !important;
}

::-ms-input-placeholder {
  color: #000 !important;
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px;
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px;
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #69ff97, #00e4ff);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 20px;
  height: 23px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #69ff97, #00e4ff);
}

.btn-white {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid white !important;
  cursor: pointer;
  color: white;
  overflow: hidden;
  outline: none;
  border-radius: 50px;
  margin-top: 10px;
  height: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.btn-white:hover {
  color: #fff;
}

button:active {
  transform: scale(0.9);
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.sm-text {
  font-size: 15px;
}

*[data-v-26084dc2],
[data-v-26084dc2]::after,
[data-v-26084dc2]::before {
  box-sizing: none;
}

*,
::after,
::before {
  box-sizing: none;
}

@media screen and (max-width: 991.5px) {
  .card {
    border-radius: 0;
    border: none;
    width: 80vw;
  }

  .container {
    padding: 10px !important;
  }
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px;
    height: 70vh;
  }

  .card2 {
    width: 100%;
    height: 20vh;
    padding: 50px;
    left: 0px;
  }

  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    /* margin-top: 50px !important;
            margin-bottom: 50px !important */
  }
}
</style>