<template>
  <div class="post-topbar">
    <div class="user-picy">
      <img src="../assets/pjm-icon.png" alt="" />
    </div>
    <div class="post-st">
      <ul>
        <li>
          <a
            class="post_project"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
            href="#"
            title=""
            >Post a Project</a
          >
        </li>
        <li>
          <a
            class="post-jb active"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            href="#"
            title=""
            >Post a Job</a
          >
        </li>
      </ul>
    </div>
    <!-- Modal -->
    <div
      class="modal fade modal-dialog-scrollable"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <!-- <div class="modal-dialog modal-dialog-scrollable"> -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Create Job</h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-floating mb-3 ">
                <input
                  type="text"
                  class="form-control"
                  placeholder=" "
                  id="floatingInput"
                />
                <label for="floatingInput ">Job</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder=" "
                  id="floatingInput"
                />
                <label for="floatingInput">Rate/hour</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder=" "
                  id="floatingInput"
                />
                <label for="floatingInput">Location</label>
              </div>
              <div class="form-floating mb-3 ">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder=" "
                  id="floatingInput"
                />
                <label for="floatingInput">Description</label>
              </div>
              <input
                accept="image/*"
                type="file"
                class="form-control col-md-6"
                id="customFile"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal2 -->
    <div
      class="modal fade modal-dialog-scrollable"
      id="staticBackdrop2"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <!-- <div class="modal-dialog modal-dialog-scrollable"> -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Post Project</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center my-auto"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreatePostCard",
};
</script>

<style scoped>
.post-topbar {
  float: left;
  width: 100%;
  padding: 23px 20px;
  background-color: #fff;
  border-top: 4px solid #69ff97;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 24%);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 1px rgb(0 0 0 / 24%);
  margin-bottom: 20px;
}
.user-picy {
  float: left;
  width: 50px;
}
.user-picy img {
  width: 100%;
  object-fit: cover;
}
img {
  max-width: 100%;
}
img {
  float: left;
}
.post-st {
  float: right;
  margin-top: 5px;
}
ol,
ul {
  list-style: none;
}
.post-st ul li {
  display: inline-block;
  margin-right: 6px;
}
.post-st ul li a {
  font-size: 16px;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 500;
}
.post-st ul li:last-child {
  margin-right: 0;
}
.post-st ul li {
  display: inline-block;
  margin-right: 6px;
}
ul li a.post_project {
  background-color: #69ff97;
  color: #fff;
}
ul li a.active {
  background-color: #00e4ff;
  color: #fff;
}
.post-st ul li a {
  font-size: 16px;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 500;
  text-decoration-line: none;
}
</style>