<template>
  <div class="post-bar">
    <div class="post_topbar">
      <div class="usy-dt">
        <img src="../assets/profilep.jpg" alt="" />
        <div class="usy-name">
          <h3>John Doe</h3>
        </div>
      </div>
    </div>
    <div class="epi-sec">
      <div class="descp">
        <h3 class="descpJob">Senior Wordpress Developer</h3>
      </div>
      <ul class="bk-links">
        <li>
          <a href="#" title=""><i class="pi pi-bookmark"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="pi pi-comments"></i></a>
        </li>
      </ul>
    </div>
    <div class="descpRates">
      <div class="job-dt">
        <h6>{{"RATES: "}}{{"$30 / hr"}}</h6>
      </div>
      <div class="post-pic">
        <img class="postPic" src="../assets/wdpr.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
        hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit
        amet grt dhbck sjhiuenjnde rfrede rcede edcec ecec ece cece...
      </p>
    </div>
    
    <Rating v-model="val2" :cancel="false" />
  </div>
</template>

<script>
import 'primeicons/primeicons.css';
import Rating from 'primevue/rating';
export default {
  name: "PostCard",
  components:{
    Rating,
  },
  data() {
        return {
            val2: 3,
        }
    }
};
</script>

<style scoped>
    .post-bar {
        float: left;
        width: 100%;
        background-color: #fff;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0px 2px #e4e4e4;
    }
   .post_topbar {
        float: left;
        width: 100%;
        position: relative;
    }
    .post-pic{
      display: flex;
    }
    .postPic{
     width: 640px;
     margin-left: auto;
     margin-right: auto;
    }
    .usy-dt {
        float: left;
    }
    .usy-dt img {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 50%;
    }
    img {
      float: left;
    }
    .usy-name {
        float: left;
        margin-left: 15px;
    }
    .usy-name h3 {
        color: #000000;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 45px;
    }
    .descp {
      display: contents;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
    .descpJob {
      float: left;
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
    .epi-sec {
        float: left;
        width: 100%;
        padding: 0;
    }

    .descpRates{
      float: left;
        width: 100%;
        padding: 0;

    }
    .bk-links {
        float: right;
        margin-top: 1rem;
    }
    ol, ul {
        list-style: none;
    }
    
    .bk-links li {
        display: inline-block;
        margin-right: 7px;
    }
    .bk-links li i {
        color: #fff;
        font-size: 24px;
        width: 33px;
        height: 30px;
        padding-left: 0px;
        background-color: #69FF97;
        text-align: center;
        line-height: 30px;
    }
    .job-dt{
      width: max-content;
    }
    i.pi.pi-comments {
      background-color: #00E4FF;
    }
  .p-rating{
    width: max-content;
  }

  .p-rating-icon {
    color: #00E4FF;
}
</style>