<template>
  <div class="user-data full-width">
    <div class="user-profile">
      <div class="username-dt">
        <div class="usr-pic">
          <img src="../assets/profile.jpg" alt="" />
        </div>
      </div>
      <div class="user-specs">
        <h3>John Doe</h3>
        <span>Graphic Designer at Self Employed</span>
      </div>
    </div>
    <ul class="user-fw-status">
      <li>
        <h4>john@gmail.com</h4>
        <span>082 377 3526</span>
      </li>
      <li>
        <h4>Johannesburg</h4>
        <span></span>
      </li>
      <li>
        <a href="my-profile-feed.html" title="">View Profile</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ProfileDashCard",
  props: {
    msg: String,
  },
};
</script>

<style scoped>
    .user-data {
        text-align: center;
    }
    .full-width {
        float: left;
        width: 100%;
        background-color: #fff;
        margin-bottom: 20px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .user-profile {
        float: left;
        width: 100%;
    }
    .username-dt {
        float: left;
        width: 100%;
        background: linear-gradient(to right,#69FF97, #00E4FF);
        padding-top: 40px;
    }
    .usr-pic {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        margin-bottom: -48px;
    }
    .usr-pic>img {
        float: none;
        border: 5px solid #fff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        width: 100%;
    }
    img {
        max-width: 100%;
    }
    .user-specs {
        float: left;
        width: 100%;
        padding: 63px 0 27px;
    }
    .user-fw-status {
        float: left;
        width: 100%;
    }
    ol, ul {
        list-style: none;
        padding-left: 0px;
    }
    .user-fw-status li:nth-child(1), .user-fw-status li:nth-child(2) {
        border-bottom: 0;
    }
    .user-fw-status li:last-child {
        border-bottom: 0;
    }
    .user-fw-status li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        padding: 15px 0;
    }
    .user-fw-status li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        padding: 15px 0;
    }
    .user-fw-status li h4 {
        color: #686868;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .user-fw-status li a {
        color: #00E4FF;
        font-size: 14px;
        font-weight: 600;
        text-decoration-line: none;
    }

</style>