<template>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
   <div class="wrapper"> </div>
    <div class="container-fluid">
       <a href="#" class="navbar-brand"
      ><i class="fa fa-cube"></i>pj<b>MZANSI</b></a
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">SavedPosts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul> 
          </li>-->
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Profile</a
            >
          </li>
        </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           
              <div class="column"><img src="../assets/profile.jpg" class="avatar column" alt="Avatar"/></div>
              <div class="column"><h6 class="drop-name" style="color:white">Paula Wilson</h6> </div>
              
          
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex mr-auto">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
        </div> 
  </nav>
</template>

<script>
    export default {
    name: "SideNavigationBar",
    };
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
    background-color: #eee
}

.navbar {
  padding-bottom: 0px; 
  padding-top: 0px;
  
}
#navbarNavDarkDropdown{
    float: right;
}
.container-fluid{
  background-color: #f1f1f1;
}

.avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}



.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
    z-index: 1;
}

.nav-link {
    display: grid;
    grid-auto-flow: column;
}
.drop-name{
  margin-top: 0.50rem;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to right,#69FF97,#69FF97, #00E4FF);
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 45% 100%);
    transition: 1s all;
    opacity: 1;
}

.navbar-brand {
    color: #000;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 80% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
    color: #000
}

.navbar-red {
    background-color: #000;
    width: 80%;
    height: 100%;
    color: #000
}

.all-show {
    z-index: 10
}

.navbar-collapse.collapse{
    z-index: 1;
}

.dropdown-toggle::after {
  color: #fff;
  margin-left: 0.50rem;
  margin-top: 0.90rem;
  justify-content: center;
  align-content: center;
  width: fit-content;
}
</style>